/* generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  position: relative;
}

.container {
  margin-bottom: 20px;
}
/* fine generali */

/* box immagini */
.immagine1 {
  position: relative;
  display: inline-block;
  background-image: url(../img/ipad.jpg);
  background-position: center;
  background-size: cover;
  height: 372px;
  width: 300px;
  text-align: center;
}

.immagine2 {
  position: relative;
  display: inline-block;
  background-image: url(../img/iphone.jpg);
  background-position: center;
  background-size: cover;
  height: 372px;
  width: 300px;
  text-align: center;
}

.immagine3 {
  position: relative;
  display: inline-block;
  background-image: url(../img/beats.jpg);
  background-position: center;
  background-size: cover;
  height: 372px;
  width: 300px;
  text-align: center;
}
.immagine1:hover .cuore, .immagine2:hover .cuore, .immagine3:hover .cuore {
  display: inline-block;
}
/* fine box immagini */

/* sconti */
.sconto {
  z-index: 1;
  position: absolute;
  background-color: green;
  height: 20px;
  width: 40px;
  right: 0px;
}

.immagine2 .sconto {
  background-color: red;
}
/* fine sconti */

/* cuore */
.cuore {
  z-index: 1;
  position: absolute;
  font-size: 20px;
  bottom: 10px;
  display: none;
}

.cuore:hover {
  color: red;
  cursor: pointer;
}
/* fine cuore */
